body{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(50, 50, 50, 1);
}
main{
    background-color: rgba(50, 50, 50, 0.7);
    max-width: 1500px;
    margin: 0 auto;
}
.header{
    text-align: center;
}
.small-pizza{
    background-color: rgba(49, 112, 118, 0.3);
}
.medium-pizza{
    background-color: rgba(11, 111, 137,0.25);
}
.large-pizza{
    background-color: rgba(11, 111, 120, 0.3) ;
}
.pizza{
    display: flex;
    flex-direction: row;
    gap: 16px;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
}

.small-pizza, .large-pizza,.medium-pizza{
    border-radius: 8px;
    padding: 0 10px;
    
    justify-content: center;
}
.contacts-address{
    display: flex;
    flex-direction: row;
    flex-wrap:none;
    flex:1;
    justify-content: center;
    margin: 5px 0;
    border: 5px double rgba(2, 13, 48, 0.3);
    border-radius: 5px;
    background-color: rgba(16, 132, 142, 0.3) ;
}
.contacts{
    width: 60%;
}
.address{
    width: 40%;
}
.contacts,.address {
    justify-content: flex-start; 
    padding: 5px; 
    height: 100%;
    width: 100%;
    
}
img{
    padding-top: 5px;
    width: 300px;
    height: 300px;
    border-radius: 8px;
}

.toppings-description{
    max-width: 400px;
    font-size: 1.2em;
    margin-bottom: 5px;
}
.container{
    padding-left: 5%;
    padding-right: 5%;

}
@media (max-width:768px) {
    .price{
        float:left;
        margin-right: 7px ;

    }
    h2{
        font-size:medium;
    }
}